.loader {
    animation: loader 0.7s alternate ease-in-out infinite;
}

@keyframes loader {
    from {
        left: -10%;
    }
    to {
        left: 100%;
    }
}

@font-face {
    font-family: "Richmond";
    src: url("/Richmond.ttf");
}

.richmond {
    font-family: "Richmond";
}

@font-face {
    font-family: "LeagueSpartan";
    src: url("/LeagueSpartan-VariableFont_wght.ttf");
}

.leagueSpartan {
    font-family: "LeagueSpartan";
}

@font-face {
    font-family: "Maragsa";
    src: url("/Maragsa-Display.woff");
}

.maragsa {
    font-family: "Maragsa";
}

.mobile-nav {
    transform-origin: top center;
    animation: nav 0.2s ease-in-out;
}

@keyframes nav {
    from {
        transform: scaleY(0);
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    to {
        transform: scaleY(1);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}